SPARK_WORKER_CORES=6
SPARK_WORKER_MEMORY=12g
SPARK_MASTER_URL=spark://spark-master:7077
SPARK_SQL_SHUFFLE_PARTITIONS=192
SPARK_DRIVER_MEMORY=4g
SPARK_EXECUTOR_MEMORY=10g
SPARK_EXECUTOR_CORES=3
SPARK_LOG_LEVEL=WARN
